# Fichiers générés par Gradle
.gradle/
build/

# Logs
*.log

# Fichiers temporaires d'exécution
*.lock

# Cache local de Gradle
.gradle/

# Fichiers IDEA/IntelliJ IDEA
.idea/
*.iml

# Fichiers Visual Studio Code
.vscode/

# Fichiers Eclipse
*.classpath
*.project
*.settings/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de sauvegarde ou temporaires
*.swp
*.swo
*.bak
*~
